html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInEffect 1s ease-out forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}